@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,600,700);

body{
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
}
.roboto{
	font-family: 'Roboto', sans-serif;
}
.opensans{
	font-family: 'Open Sans', sans-serif;
}
.titulo-section{
	/*text-transform: uppercase;*/
}
#services .item-servicos{
	width: 20%;
	margin: 0 2.5%;
}
#services .item-servicos:hover{
	transform: scale(1.1);

}
#team img{
	max-height: 150px;
}
.transition-padrao{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.transition-padrao:hover{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
#espaco .carousel{
	height: 500px;
}
#espaco .carousel .carousel-item{
	width: 400px;
}
#espaco .carousel .carousel-item .fancybox{
	visibility: hidden;
}
#espaco .carousel .carousel-item .fancybox img{
	width: 100%;
}
#contact{
	padding: 50px 0;
}
footer.page-footer{
	padding-top: 1rem;
}
footer ul{
	display: inline-flex;
}
footer ul li{
	margin: 0 10px;
}
footer ul li:first-of-type{
	margin-left: 0;
}